label{
	font-size: 14px;
	line-height: 14px;
	padding: 0 15px 0 10px;
	font-family: Helvetica, Arial, sans-serif;
	cursor: pointer;
}

span{margin-right: 25px;}

img {
  max-width: 90%;
}

@media (max-width:728px){
  img {
    display: none;
  }
}

@media (max-width:970px){
	#signin {
    display: none;
	}

	.burgermenu {
		display: block;
		float: right;
		margin-right: 50px;
		padding-top: 25px;
		font-weight:500;
	}
	
}

@media (min-width:971px){
  #signin{
		display: inline;
	}

	.burgermenu {
		display: none;
	}
}
/* h1, label { color: white; } */

#gender{
	margin: 10px;
}

#header{
	/* border-bottom: 1px solid rgba(0,0,0,.0975); */
  display: block;
  background-color: white;
	/* background-color: #ffffff; */
}

#bg {
	border-top: 1px solid rgba(0,0,0,.0975);
  background-color: white;
  height: 88%;
}

#logo {
	padding: .92857143em 1.14285714em;
	display: inline;
}

#signin{
	float: right;
	margin-right: 50px;
	padding-top: 20px;
	font-weight:700;
}

#logo{
	margin-left: 3%;
	width: auto;
	height: 80px;
}

.textbox{
	margin-bottom: 3px;
	font-size: 14px;
	padding:9px 8px 7px;
	border:1px solid #dbdbdb;
  border-radius: 3px;
}

.name{
	margin-bottom: 3px;
	font-size: 14px;
	padding:9px 8px 7px;
	border:1px solid #dbdbdb;
  border-radius: 3px;
  width: 49.5%;
}

#bdaybox{
	margin-bottom: 3px;
	width: 131px;
	font-size: 14px;
	padding:9px 8px 7px;
	border:1px solid #dbdbdb;
	border-radius: 3px;
}

.txtbox{
	margin-bottom: 3px;
	/* width: 334px; */
	font-size: 14px;
	padding:9px 8px 7px;
	border:1px solid #dbdbdb;
  border-radius: 3px;
  width:100%;
}

#register:disabled {
  background-color: lightgrey;
}

.background {
  min-width: 100%;
	min-height: auto;
  background: url("/assets/images/background.png") no-repeat center center scroll;
  opacity:.8;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#gender{
	/* margin-bottom: 3px; */
	/* width: 334px; */
	font-size: 14px;
	/* padding:9px 8px 7px; */
	border:1px solid #dbdbdb;
  border-radius: 3px;
  width:100%;
}

#signup, img{
	padding-top: 50px;
	/* float: right; */
  /* margin-right: 50px; */
}

#login, #register{
  background-color: #fd5068;
  color: white;
  cursor: pointer;
}
/*
#register{
    color: #fd5068;
    background-color: white;
} */
