<app-navbar></app-navbar>
<div class='ui center grid' class='top'>
  <section id='first'>
    <div class="ui items">
      <div class="item">
        <div class="profile-pic" *ngIf="profile.profilepicture" [style.backgroundImage]="profile.profilepicture"></div>
        <div class="profile-pic" *ngIf="!profile.profilepicture || profile.profilepicture == ''" style="background-image: url('https://scontent.cdninstagram.com/t51.2885-19/11906329_960233084022564_1448528159_a.jpg')"></div>
        <div class="content">
          <div class='name'>
            <h1>
              <span>{{profile.username}}</span>, {{profile.age}}
              <span *ngIf="profile.gender == 'Male'"> ♂</span>
              <span *ngIf="profile.gender == 'Female'"> ♀</span>
            </h1>
            <a (click)='reportUser($event)'>
              <button>Report User</button>
            </a>
          </div>
          <div class="orientation">
            <h2>Interested in: {{profile.orientation}}</h2>
          </div>
          <div class="score">
            <h3>Score: {{profile.score}}</h3>
          </div>
          <label *ngIf='likesme'><i>This user likes you</i></label>
        </div>
      </div>
        <div *ngIf='currentUser.profilepicture' style="display:inline-block; margin-top: 50px;">
          <button *ngIf='!ilike' class='like' (click)='setLikeDislike("like")'>Like</button>
          <button *ngIf='ilike' class='like' (click)='setLikeDislike("dislike")'>Liked</button>
          <button *ngIf='!idislike' class='dislike' (click)='setLikeDislike("dislike")'>Dislike</button>
          <button *ngIf='idislike' class='dislike' (click)='setLikeDislike("like")'>Disliked</button>
          <button class='blocked' (click)='setBlocked()'>Block</button>
        </div>
        <div *ngIf="!currentUser.profilepicture" style="padding: 5px;text-align: center;">
          <h4>Enable likes and dislikes by uploading a profile picture</h4>
        </div>
    </div>
  </section>
  <section id='top'>
    <div>
      <h1>{{profile.firstname}} {{profile.lastname}}</h1>
      <p *ngIf='profile.description'>
        {{profile.description}}
      </p>
      <div class="ui stackable four column grid">
        <div *ngIf='!profile.picture1 && !profile.picture2 &&!profile.picture3 &&!profile.picture4'> <h4><i>This user did not upload any pictures yet</i></h4></div>
        <div class="column" *ngIf="profile.picture1">
          <div #pic1 class="picture" [style.backgroundImage]="profile.picture1">
          </div>
        </div>
        <div class="column" *ngIf="profile.picture2">
          <div #pic2 class="picture" [style.backgroundImage]="profile.picture2">
          </div>
        </div>
        <div class="column" *ngIf="profile.picture3">
          <div #pic3 class="picture" [style.backgroundImage]="profile.picture3">
          </div>
        </div>
        <div class="column" *ngIf="profile.picture4">
          <div #pic4 class="picture" [style.backgroundImage]="profile.picture4">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id='top' style='margin-bottom: 80px;'>
    <div class="four column wide">
      <h1>Interests</h1>
      <!-- <h4 *ngIf='profile.interests.length'><i>This user has not recorded any interests yet</i></h4> -->
      <div class="ui orange labels">
        <a *ngFor="let interest of profile.interests" class="ui label" id='inter'>
          {{interest}}
        </a>
        <!-- <a class="ui label">
          #42
          <div class="detail">22</div>
        </a> -->
      </div>
    </div>
  </section>
</div>
