<app-navbar></app-navbar>
<div class='ui centered grid'>
  <div class='column notifications'>
	<ul class="discussions-list">
		<li class="current-discussion">
			<div class="target-user-pic-box">
				<img src="/assets/images/left.svg" alt="Target user" class="target-user-pic">
			</div>
			<div *ngFor='let x of people' class="target-user-info">
				<div [routerLink]="'/chat/' + people" class="target-user-firstname" style='cursor: pointer'>
					<h2>{{people}}</h2>
				</div>
				<div class="target-user-connexion-status"></div>
      </div>
		</li>
  </ul>
  </div>
</div>
