.notifications {
  margin-top: 100px;
  max-width: 600px;
  min-width: 500px;
  min-height: 600px;
  background-color: white;
  padding: 90px;
  border: 1px solid lightgrey;
  border-radius: 5px;
  overflow-y: auto;
  overflow-x: auto;
  /* padding-right: 150px; */
}
ul {
  padding: 10px;
}
li {
  list-style: none;
}

h4 {
  margin: 15px;
}

.chatbox {
	margin-top:100px;
	max-height: 600px;
	overflow-y: hidden;
}

.pict {
	margin-right: 30px;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	overflow: hidden;
	cursor: pointer;

	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
	vertical-align: middle;
	text-align: center;
	color: transparent;
	transition: all .3s ease;
	text-decoration: none;
}

.max {
	max-width: 500px;
}