<header id="header">
  <a routerLink='/home' id='logo'>
    <img class="header item" id='logo' src='/assets/images/logo.png'>
  </a>
  <nav class="links">
    <ul>
      <li>
        <a routerLink='/profile'><i class='user icon'></i> Profile</a>
      </li>
      <li>
        <a routerLink='/chat'><i class='chat basic icon'></i> Chat</a>
        <label>{{newmsgs}}</label>
      </li>
      <li>
        <a routerLink='/notifications'><i class='bell outline icon'></i> Notifications</a>
        <label>{{notiftotal}}</label>
      </li>
      <li>
        <a href='#' (click)='logout()'><i class='sign out icon'></i> Logout</a>
      </li>
    </ul>
  </nav>
  <nav class="main">
    <ul>
      <li class="search">
        <a class="fa-search" href="#search">Search</a>
        <form style="margin-right: 10px">
              <input [(ngModel)]='search' (keydown)='searchUser($event)' type="text" name="query" placeholder="Search" />
        </form>
      </li>
      <li class="menu">
        <a class="fa-bars" id='burger' [matMenuTriggerFor]="menu" >Menu</a>

        <mat-menu #menu="matMenu">
            <div class="ui left icon input" style="padding: 2px 8px 2px 8px;">
              <input style='height:2em; background-color: transparent; border:none; font-size: 14px; width: 260px;' (click)="stop($event)" [(ngModel)]='search' (keydown)='searchUser($event)' type="text" name="query" placeholder="Search" />
              <i class="search icon"></i>
            </div>
          <button mat-menu-item routerLink='/profile'><i class='user icon'></i> Profile</button>
          <button mat-menu-item routerLink='/chat'><i class='chat basic icon'> </i>Chat</button>
          <button mat-menu-item routerLink='/notifications'><i class='bell outline icon'></i> Notifications</button>
          <button mat-menu-item (click)='logout()'><i class='sign out icon'></i> Logout</button>
        </mat-menu>
      </li>
    </ul>
  </nav>
</header>
