<app-navbar></app-navbar>
<div>
  <section id='top'>
    <div class='popup-background'[hidden]='upload === false' (click)="showPopup(false)">
      <div id="popup-upload" [hidden]='upload === false'>
        <ul>
          <input #fileInput (change)="uploadPicture($event)" id="file" type="file" name="file" accept="image/*">
          <li><button (click)="fileInput.click()" name="uploadPicture" class="upload-picture">Upload Photo</button></li>
          <li><button name="removePicture" class="upload-picture">Remove Photo</button></li>
          <li><button (click)="showPopup(false)" name="cancelPopup" class="upload-picture">Cancel</button></li>
        </ul>
      </div>
    </div>
      <div id='smallprofile' (click)='showPopup(true)' *ngIf="user.profilePicture" [style.backgroundImage]="'url(data:image/jpeg;base64,'+ user.profilePicture +')'">
        <span>
          <i class="camera icon"></i></span>
      </div>
      <div id='smallprofile' (click)='showPopup(true)' *ngIf="!user.profilePicture || user.profilePicture == ''" style="background-image: url('https://cdn.intra.42.fr/users/medium_lvalenti.jpg')">
        <span>
          <i class="camera icon"></i></span>
      </div>
    <div id='smalllogin'>
      <h1>
        {{user.username}}
      </h1>
    </div>
    <form class='ui form' #userForm='ngForm' (submit)='onUpdateSubmit()'>
      <div>
        <label>First Name</label>
        <input type='text' name='firstname' [(ngModel)]='user.firstname'>
      </div>
      <div>
        <label>Last Name</label>
        <input type='text' [(ngModel)]='user.lastname' name='lastname' [value]='user.lastname' required>
      </div>
      <div>
        <label>Birthday</label>
        <select id='bdaybox' class="ui dropdown" [(ngModel)]='user.dobday' name='dobday' required maxlength='2'>
          <option [value]="">Day</option>
          <option *ngFor='let day of days' [value]='day'>
            {{day}}
          </option>
        </select>
        <select id='bdaybox' class="ui dropdown" [(ngModel)]='user.dobmonth' name='dobmonth' required maxlength='2'>
          <option [value]="">Month</option>
          <option *ngFor="let month of months; let i = index" [value]='i'>
            {{month}}
          </option>
        </select>
        <input id='bdaybox' type='number' [(ngModel)]='user.dobyear' name='dobyear' min='1920' max='1999' minlength='4' maxlength='4'>
      </div>
      <div>
        <label>Email</label>
        <input email class='txtbox' [(ngModel)]='user.email' name='email' #email='ngModel' required>
      </div>
      <div>
        <label>Gender</label>
        <select [(ngModel)]='user.gender' name='gender' class="ui dropdown txtbox" required maxlength='2'>
            <option *ngFor="let sex of gender" [value]='sex'>
              {{sex}}
            </option>
          </select><br />
      </div>
      <div>
        <label>Interested in</label>
        <select name='orientation' [(ngModel)]='user.orientation' class="ui dropdown">
          <option *ngFor="let sex of orientation" [value]='sex'>
            {{sex}}
          </option>
        </select>
      </div>
      <div>
        <label>Bio</label>
        <textarea name=description id='description' [(ngModel)]='user.description' >{{user.description}}</textarea>
      </div>
      <button id='submit' type='submit'>Submit Changes</button>
    </form>
  </section>
</div>
