<app-navbar></app-navbar>
<!-- <div> -->
  <section id='top'>
    <div id='smallprofile'>
      <img class='ui medium circular image' src="https://cdn.intra.42.fr/users/medium_lvalenti.jpg" />
    </div>
    <div id='smalllogin'>
      <h1>
        {{user.username}}
      </h1>
    </div>
    <form class='ui form' action='/edit' method='post'>
      <div>
        <label>First Name</label>
        <!-- <input name='fname' maxlength="15" type='text' value="<%= firstName%>" /> -->
        <input type='text' [(ngModel)]='user.firstname' name='firstname'>
      </div>
      <div>
        <label>Last Name</label>
        <!-- <input name='lname' maxlength="15" type='text' value="<%= lastName%>" /> -->
        <input type='text' [(ngModel)]='user.lastname' name='lastname' required>
      </div>
      <div>
        <label>Birthday</label>
        <select id='bdaybox' class="ui dropdown" [(ngModel)]='user.dobday' name='dobday' required maxlength='2'>
          <option [value]="">Day</option>
          <option *ngFor='let day of days' [value]='day'>
            {{day}}
          </option>
        </select>
        <!-- </div> -->
        <!-- <div class="field"> -->
        <select id='bdaybox' class="ui dropdown" [(ngModel)]='user.dobmonth' name='dobmonth' required maxlength='2'>
          <option [value]="">Month</option>
          <option *ngFor="let month of months; let i = index" [value]='i'>
            {{month}}
          </option>
        </select>
        <!-- </div> -->
        <!-- <input type="text" name="byear" maxlength="4" placeholder="Year" value="<%= byear%>" id='bdaybox'> -->
        <input id='bdaybox' type='number' [(ngModel)]='user.dobyear' name='dobyear' min='1920' max='1999' minlength='4' maxlength='4'>
      </div>
      <div>
        <label>Email</label>
        <!-- <input name='email' type='text' value="<%= email%>" /> -->
        <input email class='txtbox' [(ngModel)]='user.email' name='email' #email='ngModel' required>
      </div>
      <div>
        <label>Gender</label>
        <select [(ngModel)]='user.gender' name='gender' class="ui dropdown txtbox" required maxlength='2'>
            <option [value]="">Gender</option>
            <option *ngFor="let sex of gender; let i = index" [value]='i'>
              {{sex}}
            </option>
          </select><br />
      </div>
      <div>
        <label>Interested in</label>
        <select name='orientation' class="ui dropdown">
          <option *ngFor="let sex of orientation; let i = index" [value]='i'>
            {{sex}}
          </option>
          <!-- <option value="Both" <%=o rientation=='Both' ? 'selected' : '' %>>Both</option>
          <option value="Guys" <%=o rientation=='Guys' ? 'selected' : '' %>>Guys</option>
          <option value="Girls" <%=o rientation=='Girls' ? 'selected' : '' %>>Girls</option> -->
        </select>
      </div>
      <div>
        <label>Bio</label>
        <textarea name=bio id='bio'>{{user.description}}</textarea>
      </div>
      <button id='submit' type='submit'>Submit Changes</button>
    </form>
  </section>
<!-- </div> -->
